
body{
  background-color:#212121;
  color: #d1d1d1;;
}
input {
  background-color: #25292b;
  color: white;
}

input:focus { /*#bdd4ff;*/
  background-color:black;
  box-shadow: 0px 0px 2px rgba(0,100,255,1),
              0px 0px 2px rgba(0,100,255,1),
              0px 0px 3px rgba(0,100,255,1);
}
small{
   color:grey;
}
table, th, td {
  border: 1px solid black;
}


::-webkit-scrollbar-thumb {
  background: #00d19e;
}
::-webkit-scrollbar-thumb:hover {
  background: #009973;
}



/*======================== INDEX =========================================*/


.extra{
  background-color:#343a40;
}
.extra1{
  background-color:black;
}
.extra2{
  background-color:#e6eeff;
}
.head-content{
  /*background:black;*/
  background: #050505;
}
.home-content{
  background-color: #343a40;
}

/*======================== MASTER =========================================*/



.reg-body, .login-body
{
  background-image:url('https://i.ibb.co/2t6xVJp/back.png');
  /*https://i.ibb.co/K93RBcG/Back.png*/
  /*background-color:#dce4f5;*/
}
.alert-user{
  background-color: #0fbf99;
  color: white;
}
.closebtn-alert {
  color: white;
}
.closebtn-alert:hover {
  color: black;
}

.error { color: #FF0000; }
/*Navbar COlor : #343a40 , darkslategray , rgb(52,58,64) */
.leo-navbar{
  color:grey;
  background: black;
}
.halfTransparency
{
  background-image:linear-gradient(90deg,
  rgba(52,58,64,1) 10%,rgba(52,58,64,1) 1.4%,
  rgba(0, 0, 0,0) 24.1%,rgba(0, 0, 0,0) 76.4%,
  rgba(52,58,64,1) 101.3%,rgba(52,58,64,1) 101.3%);
}
.searchPage {
  /* rgb(71, 230, 156) = #47e69c */
  background-image: linear-gradient(#12313b, #138e55);
}
.closeSearchPageButton {
  background-color:#5e9cff;
}
.closeSearchPageButton:hover {
  color:white;
  background-color:#2c4978;
}


.user-content {
  /*background-color: #e6eeff;*/
}
.new-post-form {
  background: #343a40;
  box-shadow: 0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 5px rgba(75, 105, 101,1);

}
.advancedPostButton:hover{  color:white; }
.new-post-submit-button {
  background-color:#3c619e;
}
.new-post-submit-button:hover { background-color:#03658c; }
.user-posts {
  /*background-image: linear-gradient(#e6eeff, skyblue);*/
  box-shadow: 0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 5px rgba(75, 105, 101,1);
}
.user-post-card {
  /*background-image: linear-gradient(#e6eeff, skyblue);*/
  background: #343a40;
  box-shadow: 0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 5px rgba(75, 105, 101,1);
}
.user-post-text {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.user-card-post-view {
  background-color:#5e9cff;
}
.user-card-post-view:hover { background:#03658c; }
.reg-content, .login-content {
  background-color:#e6eeff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* ======================== POSTFeed ========================================= */


.post-feed {
  background-image: linear-gradient(#12313b, #138e55);
}
.post-feed-card{
  background-color: #1d1f20;
  color: #d1d1d1;
}
.post-feed-text {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.post-feed-reactUp,.post-feed-reactDown {
  color:grey;
  background-color: #181a1b;
}
.post-feed-view-button {
  background-color:#5e9cff;
}
.post-feed-reactUp:hover { color:black; }
.post-feed-reactDown:hover {  color:black; }
.post-feed-view-button:hover { background:#03658c;}
.load-more {
  background: #5f80b9;
}
.load-more-button, .load-complete {
  color: black;
}
.load-more-button:hover {
  color: blue;
}
.load-complete:hover{
  color:grey;
}



/* ======================== DETAILEDPost ========================================= */



.detailed-post-page {
  /* rgb(71, 230, 156) = #47e69c */
  background-image: linear-gradient(#12313b, #138e55);
}
.close-detailed-post-button {
  background-color:#5e9cff;
}
.close-detailed-post-button:hover {
  color:white;
  background-color:#2c4978;
}
.detailed-post-card {
  background-color: #1d1f20;
  color: #b5b5b5;
}
.detailed-post-text {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/* //Meh:#ba7f7e;*/
.detailed-post-reactUp, .detailed-post-reactDown, .detailed-post-comment,.detailed-post-share {
  color:grey;
  background: none;
}
.detailed-post-reactUp:hover { color:#0fbf99; }
.detailed-post-reactDown:hover { color:#0fbf99; }
.detailed-post-comment:hover { color:#0fbf99; }
.detailed-post-share:hover { color:#0fbf99; }

.new-comment-post-box{
  color: grey;
  background-color: #1d1f20;
}
.close-comment-post-button {
  color: #b5b5b5;
}
.close-comment-post-button:hover{color:#0fbf99;}
.newCommentPost{
  background-color: #25292b;
  color: white;
}
.post-a-new-comment {
  border-color: grey;
  color:#b5b5b5;
  background-color: #1d1f20;
}
.post-a-new-comment:hover {
  color:#0fbf99;
  border-color: grey;
}
.alert-user-cmt-div {
  background-color: #0fbf99;
  color: white;
}
.comments-feed {
  background: #1d1f20;
  color: #d1d1d1;
}
.user-avatar {
  /*#FFF*/
  border: 3px solid grey;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.comment-head {
  background:#1d1f20 ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.comment-author {
  color: #03658c;
}
.comment-author a { color: #03658c; }
.user-tag {
  background: #03658c;
	color: #FFF;
}
.last-updated {
  color: grey;
}
.comment-reply, .comment-heart {
  color: grey;
}
.comment-head .comment-react i:hover { color: #03658c; }
.comment-content {
  background:#1d1f20;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.no-content {
  background:#1d1f20;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.comment-head:before, .comment-head:after {
  border-color: transparent #2f3e48;
}
.comment-head:before {
	border-color: transparent rgba(0,0,0,0.05);
}



/* ======================== SIDEBARS ========================================= */


.sticky {
  background-image: linear-gradient(#12313b, #138e55);
  color: white;
}
