body
{
  background-color:#dce4f5;
}
input
{
  border:none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
}
span
{
  font-size: 12px;
}
.error { color: #FF0000; }
.reg-content, .login-content
{
  margin-left: 15%;
  margin-right: 15%;
  margin-top :5%;
  border-style:none;
  border-width:1px;
  padding-left:4em;
  padding-bottom: 2em;
  padding-top:1em;
  border-radius: 20px;
  background-color:#e6eeff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}
.login-content
{
  margin-left: 20%;
  margin-right: 20%;
}
.reg-form, .login-form
{
  width:100%;
  display:block;
}
.reg-image, .login-image
{
  align-self:center;
  flex-grow: 1;
  width:auto;
  display:block;
}
.reg-image-image, .login-image-image
{
    max-width: 80%;
    max-height: 100%;
    display: block;
}
